<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 
     <form method="POST" action="/newteam">

      <p>Team Name: <input type="text" name="name"></p>
      <p>Coach: <input type="text" name="name"></p>
      <p>Point Guard: <input type="text" name="name"></p>
      <p>Shooting Guard: <input type="text" name="name"></p>
      <p>Small Forward: <input type="text" name="name"></p>
      <p>Strong Forward: <input type="text" name="name"></p>
      <p>Center: <input type="text" name="name"></p>

      <input type="submit" id="submit">
    </form>
 
 
 
 


 </body>
</html>


