<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 
  <h1><%=@name%></h1>
  
  <%@team.each do |member|%>
  <h2><%=@member.key%> <%=@member.value%></h2>
  <%end%>
 
 
 
 


 </body>
</html>


